<div class="container mt-4">
  <h1 class="text-center">Bienvenido a la botonera</h1>
  <div class="row my-4 but">
    <div class="col-6 d-flex justify-content-center">
      <button (click)="aplicarSonido(1)" class="rounded-pill">Hey Listen!</button>
    </div>
    <div class="col-6 d-flex justify-content-center">
      <button (click)="aplicarSonido(2)" class="rounded-pill">Yoshi owow</button>
    </div>
  </div>
  <div class="row my-4">
    <div class="col d-flex justify-content-center">
      <button (click)="aplicarSonido(3)" class="rounded-pill">mario 1 up!</button>
    </div>
    <div class="col d-flex justify-content-center">
      <button (click)="aplicarSonido(4)" class="rounded-pill">mk Fatality!</button>
    </div>
  </div>
  <div class="row my-4">
    <div class="col d-flex justify-content-center">
      <button (click)="aplicarSonido(5)" class="rounded-pill">capcom int</button>
    </div>
    <div class="col d-flex justify-content-center">
      <button (click)="aplicarSonido(6)" class="rounded-pill">kirby 1up!</button>
    </div>
  </div>
  <div class="row my-4">
    <div class="col d-flex justify-content-center">
      <button (click)="aplicarSonido(7)" class="rounded-pill">Game Over</button>
    </div>
    <div class="col d-flex justify-content-center">
      <button (click)="aplicarSonido(8)" class="rounded-pill">mama mia!</button>
    </div>
  </div>
</div>